body {
  font-family: $sans;
}

* {
  box-sizing: border-box;
}

header {
  background: $black;
  height: 600px;
  padding-top: 40px;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
  position: relative;
}

.logo {
  width: 50px;
  transform: rotate(90deg);
  line-height: 70px;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color: $blue;
  font-size: 3em;
}

nav > ul {
  float: right;
}

nav > ul > li {
  text-align: center;
  line-height: 40px;
  margin-left: 70px;
}

nav > ul li ul li {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

nav ul li:hover {
  cursor: pointer;
  position: relative;
}
nav ul li:hover > ul {
  display: block;
}

nav ul li:hover > a {
  color: $blue;
}
nav > ul > li > a {
  cursor: pointer;
  display: block;
  outline: none;
  width: 100%;
  text-decoration: none;
}

nav > ul > li {
  float: left;
}

nav a {
  color: $white;
}

nav > ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 2000;
}

nav > ul li ul li > a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  left: -50px;
}

[type="checkbox"], label {
  display: none;
}

@media screen and (max-width: 768px) {
  
  nav ul {
    display: none;
  }

  label {
    display: block;
    background: $blue;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
    transition: all 3500ms linear ease-in-out;
  }
  
  .list {
    left: 10px;
    color: $white;
  }

  label:after{
    content:'';
    display: block;
    width: 30px;
    height: 5px;
    background: #777;
    margin: 7px 5px;
    box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
  }

  [type="checkbox"]:checked ~ ul {
    display: block;
    z-index: 9999;
    position: absolute;
    right: 0px;
    left: -40px;
  }

  nav a {
    color: $black;
  }

  nav ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    background: $white;
    text-indent: 20px;
  }

  nav > ul > li {
    margin-left: 0px;
  }

  nav > ul li ul li {
    display: block;
    float: none;
  }

  nav > ul li ul {
    display: block;
    position: relative;
    width: 100%;
    z-index: 9999;
    float: none;
  }

  
  .secondary {
    left: 0;
  }
}